/checkerboard_18x18.png
/cropped_region.png
/cropped_region22.png
/New_Zealand_Boat.jpg
/opencv_bootcamp_assets_NB2.zip
/resized_cropped_region22.png
/resized_cropped_region_2x.png
/Apollo_11_Launch_inv.jpg
/Apollo_11_Launch.jpg
/opencv_bootcamp_assets_NB3.zip
/opencv_bootcamp_assets_NB4.zip
/Piano_Sheet_Music.png
/New_Zealand_Coast.jpg
/circle.jpg
/Logo_Manipulation.png
/checkerboard_color.png
/coca-cola-logo.png
/building-windows.jpg
/rectangle.jpg
/.idea/
